
<ion-header>
  <ion-navbar class="header-content">
  	<ion-buttons (click)="goToHome()" left>
      <button ion-button><ion-icon name="md-undo"></ion-icon></button>
    </ion-buttons>

    <ion-title>
     New Group
    </ion-title>

  </ion-navbar>
</ion-header>

	<ion-content>
		<form  (ngSubmit)="registerGroupForm()">
	  <ion-list>
      <ion-item class="participants-btn"
           (click)="openGraphicsGroup()"
      >
      <div *ngIf="group.imageGroup.length <= 0">
        <ion-icon name="ios-image-outline" ></ion-icon>
      </div>
      <div *ngIf="group.imageGroup.length > 0">
         <img src="{{group.imageGroup}}" class="group-avatar">
      </div>

      <p>Select Image Group</p>
    </ion-item>

	  	<ion-item>
	    	<ion-label color="primary" floating>Group name:</ion-label>
	    	<ion-input
		    	type="text"
		    	[(ngModel)]="group.nameGroup"
		    	name="groupName"
		    	required
	    	></ion-input>
	  	</ion-item>

	  	<ion-item>
	  		 <ion-label color="primary" floating>Start date:</ion-label>
	  		<ion-datetime
	  			displayFormat="DD/MM/YYYY"
	  			name="startDate"
	  			[(ngModel)]="group.startDate"
	  			required></ion-datetime>
	  	</ion-item>

	  	<ion-item>
	  		<ion-label color="primary" floating>End date:</ion-label>
	  		<ion-datetime
	  			displayFormat="DD/MM/YYYY"
	  			[(ngModel)]="group.endDate"
	  			name="endDate"
	  			required></ion-datetime>
	  	</ion-item>

	  	<ion-item padding>
		    <ion-label color="primary">Want to participate?</ion-label>
		    <ion-toggle [(ngModel)]="group.isAdminParticipant" name="isAdminParticipant"></ion-toggle>
		  </ion-item>

	  	<ion-item padding>
	  		<ion-label color="primary">Currency:</ion-label>
	  		<ion-select
	  			[(ngModel)] = "group.currencyTotal"
	  			name="currency"
	  			required>
	  			<ion-option value="USD">USD</ion-option>
	  			<ion-option value="RD">RD</ion-option>
	  			<ion-option value="EUR">EUR</ion-option>
	  		</ion-select>


	  	</ion-item>
	  	<ion-item>
	  		<ion-label color="primary">Amount goal:</ion-label>
	  		<ion-input
	  			type="number"
	  			[(ngModel)]="group.totalAmount"
	  			placeholder="{{group.currencyTotal}} $ 00"
	  			required
	  			name="amountGoal"
	  			>
	  		</ion-input>
	  		.
	  		<ion-input
	  			type="number"
	  			name="amountCents"
	  			[(ngModel)]="group.totalAmountCents"
	  			placeholder=".00"
	  			>
	  		</ion-input>
	  	</ion-item>


    </ion-list>
	  </form>

	</ion-content>
	<ion-footer>
		<button type="submit" (click)="registerGroupForm()" ion-button block color="default">Create group</button>
	</ion-footer>
