page-register {

	.avatar-group{
        background-size: cover;
        box-sizing: content-box;
      }
      
	.btn-image-upload{
		background-color:green !important;
		margin-top:200px;
		border:1px solid black;
		width:200px;
		height:200px;
	}
		
	.toolbar-background-md{
		background-color:#75ab8f;

	}
	.toolbar-title{
		color:white;	
		text-align:center;
		margin-left:-5%;	
	}

	.bar-button-md{
		color:white;
		left:20%;
	}

	
}