page-participant {

	.toolbar-background-md, .toolbar-background{
		background-color:#488aff;
	}

	.toolbar-title{
		color:white;
	}

	.bar-button-md, .bar-button{
		color:white;
		background-color:#488aff;
	}

	ion-content{
		background-color:#f7f7f7 !important;
		margin:0 auto;
		padding:0;
		text-align:center;

		.content-contacts{
			margin-top:10px;
		}
		img{
			margin-top:25%;
		}
		.advice-title{
				color:gray;
				font-size:16px;
		}
		.note{
			top:15px;
			position:relative;
		}
	}
	


}
