
<ion-header>
  <ion-navbar class="header-content">
    <ion-title>{{titleDisplay}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="showContacts" padding>
	<ion-list>
    <div class="content-contacts" *ngIf="group.participants.length > 0">
      <ion-label color="primary" stacked>Participants:</ion-label>
  		<ion-item  *ngFor="let contact of group.participants">
  			<h2>{{contact.name}}</h2>
  				<p>{{contact.phoneNumber1}}</p>
  		</ion-item>
    </div>
    <div *ngIf="group.participants.length <=0" padding>
        <img src="assets/img/whoops.jpg"/>
        <h2 class="advice-title">You haven't added participants yet!</h2>
    </div>
	</ion-list>

</ion-content>

<ion-content *ngIf="!showContacts" padding>
  <form class="list form-participant">
    <ion-item>
      <ion-label floating>Full Name</ion-label>
      <ion-input type="text" name="fname" [(ngModel)]="participant.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="participant.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Phone Number #1</ion-label>
      <ion-input type="number" name="phoneNumber1" [(ngModel)]="participant.phoneNumber1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Phone Number #2</ion-label>
      <ion-input type="number" name="phoneNumber2" [(ngModel)]="participant.phoneNumber2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-input type="text" name="address" [(ngModel)]="participant.address"></ion-input>
    </ion-item>
  </form>
  <small class="note"><b>Note:</b> Each participant will be notify to their email with the code of this group when you save !</small>
</ion-content>

<ion-footer *ngIf="!showContacts">
	<button type="submit"  (click)="createParticipant()" ion-button block color="default">Create</button>
</ion-footer>
