page-participant {
	ion-content{
		background-color:#f7f7f7 !important;
		margin:0 auto;
		padding:0;
		text-align:center;
		img{
			margin-top:25%;
		}
		.advice-title{
				color:gray;
				font-size:16px;
		}
	}
	.toolbar-background-md{
		background-color:#75ab8f;
	}
	.toolbar-title{
		color:white;
	}
	.bar-button-md{
		color:white;
	}


}
