page-group {

	/* HEADER */
	.toolbar-background-md, .toolbar-background{
		background-color:#488aff;
	}

	.toolbar-title{
		color:white;
	}

	.bar-button-md, .bar-button{
		color:white;
		background-color:#488aff;
	}

	.avatar-group{
        background-size: cover;
        box-sizing: content-box;
    }	
    .container{
    	margin-top:25%;
    	padding:10px;
    }

	.group-head{
		background:url('../assets/img/img6.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		height:25%;
		text-align:center;
		h1{
			margin-top:-18%;
		}
		
		.group-avatar-circle{
			text-align:center;
			padding:10%;
			img{
				width:40%;
				height:40%;
				margin: 12% auto;
				border-radius:50%;
			}
			
		}
	}
}
